[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
qiskit = "*"
qiskit-ionq = "*"
openai = "*"
requests = "*"
matplotlib = "*"
flask-cors = "*"
qiskit-aer = "*"
ibm-quantum-widgets = "*"
pylatexenc = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
